    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    a:hover {
      text-decoration: none;
    }

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
      background-image: url("../img/bg_grey.jpg");
      font-family: "ubuntu";
      font-size: 16px;
    }

    h1 {
      font-size: 2.9em;
      line-height: 1em;
    }

    h2 {
      color: #58595B;
      font-weight: 400;
    }

    h3 {
      font-size: 1.5em;      
      color: #58595B;
      font-weight: 100;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
      margin-left: 30px;
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    .brand {
      text-indent: -999px;  
      background-image: url("../img/logo.png"); 
      width: 295px;
      height: 28px;
      background-repeat: no-repeat;
      position: absolute;
    }

    .invisble_bar {

    }

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
      height: 500px;
    }





    .hero_img {
      background-color: ;
      position: absolute;
      bottom: 0px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
}
    /* Button Overrides
    ------------------------- */

.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: transparent;
  *background-color: transparent;
}

.navbar .btn-navbar .icon-bar {
  box-shadow: 0px;
  background-color: #666;
  width: 25px;
  height: 3px;
}

.catogories {
  text-align: center;
}

.red_one {
    background-color: #EF716F;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.red_two {
    height: 35px;
    background-color: #EE6765;
}


.red_three {
    height: 35px;
    background-color: #F07B79;
}

.text_white {
  color: white;
  width: 80%;
  margin: 0 auto;
  font-family: ubuntu;
  font-weight: 400;
  font-size: 1.05em;
  margin-bottom: 30px;
}

.text_center {
  text-align:center;
  color:white;
  font-weight:500;  
}

.display_unit {
  background-image: url("../img/bg-entry-title.jpg");
  background-size: 1200px;
  height: 500px;
}

.display_unit_text {
  text-align: center;
  width: 80%;
  margin: 5em auto;
}

/*Customize Buttons*/

.btn-reset {
  display: block;
  padding: 4px 12px;
  margin-bottom: 0;
  margin-left:0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: none; 
  vertical-align: middle;
  cursor: pointer;
  background-color: white;
  background-image: none;
  background-repeat: repeat-x;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.btn-reset:hover,
.btn-reset:active,
.btn-reset.active,
.btn-reset.disabled,
.btn-reset[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn-reset:active,
.btn-reset.active {
  background-color: white;
}

.btn-reset:first-child {
  *margin-left: 0;
}

.btn-reset:hover {
  color: #333333;
  text-decoration: none;
  background-color: red;
  background-position: 0px;

}

.btn-reset:focus {
  outline: none;
  outline-offset: 0px;
}

.btn-reset.active,
.btn-reset:active {
  background-image: none;
  background-color: blue;
  outline: 0;
  box-shadow: 0px;
}

.btn-reset.disabled,
.btn-reset[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  box-shadow: 0px;
}

/*Customize Buttons*/

.btn-featured {
  padding: 10px 30px;
  margin: 0 auto;
  position: relative;
  line-height: 1em;
  color: white;
  text-align: center;
  text-shadow: none; 
  vertical-align: middle;
  cursor: pointer;
  background-color: #FBB040;
  box-shadow: none;
  font-family: "ubuntu";
  font-size: 2.8em;
  border-radius: 0.16em;
  display: none;
}



.a-btn{
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
    position: relative;
    float:left;
    margin-bottom: 50px;
    margin-left: 50px;
    display: block;
    overflow: hidden;
    background-color: #FBB040;
    /*border: 1px solid #90c6c8;*/
    /*border-color: #90c6c8 #78bdc0 #65b6ba;*/
    box-shadow: 
        0px 6px 0px 1px #9E713B, 
        0 1px 1px #d5d5d5, 
        0 1px 0 rgba(255,255,255,0.8) ;  
    transition: all 0.2s linear;
    border-radius: 8px;

}

.a-btn-text{
    font-size: 40px;
    color: white;
    text-shadow: 0 3px 0 #9E713B;
    line-height: 36px;
    font-weight: 700;
    font-family: "ubuntu", sans-serif;
    display: block;

}



/*.a-btn:hover{
    transform: scale(0.95);
    margin-top: 6px;
    box-shadow: 
        0px 0px 0px 1px #9E713B, 
        0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8),
        0px 1px 1px 2px #fff;      
}
*/
.a-btn:active{
/*    transform: scale(1.05);*/
    transform: scale(0.95);
    margin-top: 6px;
    box-shadow: 
        0px 0px 0px 1px #9E713B, 
        0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8),
        0px 1px 1px 2px #fff;      
}

/*.a-btn:hover .a-btn-symbol{
    opacity: 0.5;
    transform: rotate(360deg);
}*/


/*.a-btn:active{
    transform: scale(0.95);
    box-shadow: 
        0px 0px 0px 1px #458a8c, 
        0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8),
        0px 1px 1px 2px #fff;  
}*/